/*
* --------------------------------------------
* These are some styles that I am customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/
.bg-info {
    background-color: white !important;     /* some secondary colour */
}

.navbar-light .navbar-brand {
    color: white;                           /* contrast to secondary colour */
}

.btn-primary {
    color: white;                           /* contrast to secondary colour */
    font-size: 150%;
    background-color: #00b3b3;                /* some secondary colour */
    border-color: #00ffff;                    /* some accent colour */
    border-width: thick
}

body {
    background-color: white;                /* some primary colour */
}

.navbar a{color: white;}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48

}

span {
    font-size: 48px;
}


